@font-face {
  font-family: 'SF-Pro';                 /* Name, den du in CSS verwendest */
  src: url('SF-Pro.ttf') format('truetype');  /* Pfad zur Datei */
  font-weight: normal;
  font-style: normal;
}

#Titel {
    font-size: 5rem;
    font-family: SF-Pro;
    color: #c7d0d9;
}

#text {
  font-size: 2rem;
  color: #c7d0d9;
  text-align: center;
  font-family: SF-Pro;
  margin: 0.625rem 1.25rem 0.3125rem 1.25rem;
}

#scannerWrapper {
  position: relative;
  width: 25rem;
  height: 25rem;
  margin: 1.25rem auto;
}

#QR-Code {
  width: 25rem;        /* Wir definieren nur die Breite */
  aspect-ratio: 1 / 1; /* ERZWINGT ein quadratisches Seitenverhältnis (Höhe = Breite) */
  margin: 1.25rem auto;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.9375rem #919da865;
  overflow: hidden;
  position: relative; /* Wichtig für das Video-Element darin */
}

#QR-Code video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Verhindert Verzerrung, schneidet Überflüssiges ab */
}

#videoContainer {
  background-color: #3a5068;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.4);
  width: 95%;
  margin: 0 auto;
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#trailer {
  margin: 0.3125rem auto 0.625rem auto;
  display: block; /* zentriert, wenn margin: auto */
  width: 100%;
  height: 57%;
  z-index: 10;
}

#videoButtons {
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  gap: 0.625rem;               /* Abstand zwischen den Buttons */
  margin-top: 0.625rem;
}

#continueButton{
    font-family: SF-Pro;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin: 0.625rem;
}

#continueButton:hover{
  background-color: #ff8533;
}

#scanAgainButton {
    font-family: SF-Pro;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin: 0.625rem;
}

#scanAgainButton:hover {
  background-color: #ff8533;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f475e;
  font-family: Arial, sans-serif;
}